ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    margin-right: 20px;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: black;
}

.active {
    color: blue;
}

